#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.starboyLogo {
  height: 21em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo {
  height: 3em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  z-index: -1;
  /* margin-top: 150px;  */
}

/* ImageBox */
.form {
  width: 700px;
  /* background: rgb(146,245,238);
  background: radial-gradient(circle, rgba(146,245,238,1) 0%, rgba(244,137,137,1) 100%); */
  background-color: black;
  border-radius: 15px;
  padding: 5%;
  margin-bottom: 3%;
}

.urlBox {
  color: skyblue;
  border: 3px solid grey;
  outline: none;
}

.buttonSubmit {
  color: skyblue;
  border: 3px solid grey;
}

/* FaceDetection */
.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 2px skyblue inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
}

#inputImage {
  margin-top: 1%;
  /* margin-left: 1%; */
  /* margin-right: 1%; */
  /* margin-bottom: auto; */
  width: 700px;
  border-radius: 15px;
}

.image-container {
  position: auto;
  z-index: 0;
  margin-bottom: 150px;
}
