.form {
    width: 700px;
    /* background: rgb(146,245,238);
    background: radial-gradient(circle, rgba(146,245,238,1) 0%, rgba(244,137,137,1) 100%); */
    background-color: black;
    border-radius: 15px;
    padding: 5%;
  }

.urlBox {
  color: skyblue;
  border: 3px solid grey;
  outline: none;
}

.buttonSubmit {
  color: skyblue;
  border: 3px solid grey;
}